$blackOverlay: rgba(0,0,0,.6);
$blackOverlayLight: rgba(0,0,0,.2);
$logoBlue: #0b3f59;
$logoRed: #de6464;
$logoLightBlue: #00b7ff;

//unused but added
// $hfOrange: #ec960d;
// color: #de6464;
// #2ae4e4